* {
    margin: 0;
    padding: 0;

}

#chart-container {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

body {
    overflow: hidden;
}



.BMap_cpyCtrl {
    display: none;
}

.anchorBL {
    display: none;
}